*{
    margin: 0;
    padding: 0;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #f8f9eb;
}
.logo{
   font-family: "Coda", system-ui;
  font-weight: 800;
  font-size: 34px;
  letter-spacing: 2px;
}
.navbar{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  margin-top: 20px;
}

.nav-links{
  display: flex;
  gap: 60px;
  list-style: none;
}

.nav-links li a{
  text-decoration: none;
  color: #161615;
   padding: 18px;
}
.nav-links li a:hover{
  background-color: #e0e2c4;
  border-radius: 16px;
}
.btn-contact{
  border: none;
  padding: 18px;
  font-size: 15px;
  align-items: center;
  margin-right: 10px;

}
.btn-contact:hover{
   background-color: #e0e2c4;
  border-radius: 16px;
}

.btn-get{
  border: none;
  padding: 18px;
  font-size: 15px;
  align-items: center;
  background-color: #202020;
  color: #e0e2c4 ;
  border-radius: 16px;

}
.btn-get:hover{
  background-color: #e0e2c4;
  color:#202020 ;
}