*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    margin-right: auto;
}
.navbar{
   height: 60px;
   display: inline-block;
   justify-content: flex-end;
}
.nav-links{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.nav-links li{
    display: inline-block;
    gap: 30px;

}
.nav-links li a{
   gap: 30px;
   text-decoration: none;
}