*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}
.navbar{
   height: 60px;
   display: inline-block;
}
.nav-links{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.nav-links li{
    display: inline-block;

}
.nav-links li a{
   
   text-decoration: none;
}