*{
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}  
.navbar{
    margin-top: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.nav-span{
    color: #2a2c33; 
    font-size: 40px;
    font-weight: 600;
    margin-right: 0px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.navbar li a{
    text-decoration: none;
    color: #58595e;
}
.navbar li a:hover{
   color:  #2a2c33;
}
.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px;
    color:#58595e;
     width: 70px;
    height: 40px;
}
.btn-login:hover{
    background-color: #2a2c33;
    color: white;
    border-radius: 32px;
}

.btn-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color:#10121a;
    background-color: #ffb200;
    width: 140px;
    height: 40px;
    border-radius: 32px;
}
.nav-btn{
    display: flex;
    gap: 20px;
}