 *{
            margin: 0;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
  background-color: #fbfcfd;

 
            
        }
         .navbar{
            width: 100%;
            height: 70px;
          
            align-items: center;
            display: flex;
            justify-content: flex-end;
            
         }
         .navbar-ul{
           display:flex;
           text-decoration: none;
           list-style-type: none;
         }
         .navbar-li a{
           padding: 20px;
           padding-left: 60px;
           color:#68717d;
           cursor: pointer;
           text-decoration: none;
           
         }
         .navbar-li a:hover{
            color: black;
         }
         .logo{
            align-items: center;
            display: flex;
            margin-right: auto;
            font-size: 23px;
            font-weight: 500;
            color: #11192b;
         
         }
         .logo-img{
            width: 60px;
            height: 40px;
         }
         .btn{
            color: #ffffff;
            background-color: #5f42f0;
            width: auto;
            height:30px;
            border: none;
            border-radius: 8px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 25px;
         }
         .btn:hover{
            background-color: #765fe9;
         }
         .hero{
          margin-top: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
    
         }
         .hero-div{
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          gap: 30px;
         }
         .text-p{
          width: 180px;
          color: #6246f0;
          background-color: #efecfd;
          align-items: center;
          padding: 6px;
          border-radius: 16px;
         }
         .text-h1{
          color: #0f172b;
          font-size:80px;
         }
         .span-text{
          color: #8b54ff;
          display: block;
         }
         .workflow-text{
          width:800px;
          font-weight: 350;
          font-size: 25px;
          color: #778499;
         }
         .buttons{
          
         }
         .btn-start{
          color:#ededfb;
          background-color:#5f42f0 ;
          width: 160px;
          height: 50px;
          border: none;
          border-radius: 20px;
          gap: 50px;
         }
         .btn-start:hover{
            background-color:#2f08ef ;
         }
         .btn-demo{
          color: #1b2334;
          background-color: #fdfdff;
           width: 160px;
          height: 50px;
          border: 1px solid black;
          border-radius: 20px;

         }
         .btn-demo:hover{
            background-color: #0f172b;
            color: white;
         }
         .why-choose{
          margin-top: 120px;
          display:flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
         }
         .why-choose h1{
          font-size: 30px;
          font-weight: 300px;
         }
         .why-choose p{
          font-weight: 400;
          font-size: 20px;
          margin-top: 20px;
          color: #8793a5;
          width:700px;
         }
         .cards{
          margin-top: 50px;
          display: flex;
          justify-content: space-around;
          height: 250px;
         }
         .cards h2{
          color:#212939;
          margin-top: 20px;
         }
         .cards p{
          color: #6b7a90;
          margin-top: 30px;
         
         }
         .card-1{
          width: 400px;
          height: 200px;
          background-color:#ffffff;
          border-radius: 8px;
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          padding: 25px;

         }
        .card-2{
          width: 400px;
          height: 200px;
          background-color:#ffffff;
          border-radius: 8px;
          padding: 25px;
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

         }
         .card-3{
          width: 400px;
          height: 200px;
          background-color:#ffffff;
          border-radius: 8px;
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          padding: 25px;
         }
         footer{
          border-top: 1px solid #afb2b3;
          height: 180px;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
         }

         .footer-top{
          display: flex;
          text-align: center;
          align-items: center;
         }
         .footer-logo{
          width: 70px;
          height:40px;
         }
         .footer-span{
          font-size:20px;
          font-weight: 600;
         }
         .footer-content p{
           margin-top: 15px;
           color: #828ea2;
         }
         .footer-links{
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
         }
         .footer-links ul{
          display: flex;
          list-style-type: none;
          text-decoration: none;
          gap: 30px;
         }
         .footer-links li{
          color: #828ea2;
         }
       