*{
    margin: 0;
    padding: 0;
}
/* .title{
    text-align: center;
}
.sub-title{
    text-align: center;
} */
.card{
     
     text-align: center;
     
}
.card div{
   display:flex ;
   justify-content: column;
   width:400px;
}