*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: chocolate;
    width: 300px;
    margin: 5px;
    
}
div{
    display: flex;
    justify-content: space-around;
    flex-basis: 20%;
    flex-wrap: wrap;
}